{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static '/success.css' %}">

</head>
<body>
  <div class="text-c">
    <img src="https://icon-library.com/images/success-icon/success-icon-0.jpg" class="img-fluid" alt="" style="height: 25vh;">
    <h2 class="mt-44">Thanks Your Payment Has Been Recieved</h2>
    
</div>
</body>
</html>