{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/pages.css' %}">

</head>
<body>
    <div class="tnd">
        <h1>Terms and Conditions of Sale</h1>

<p>
Tickets are sold by Patna Comedy Carnival (Rabindra Bhawan) and are subject to the following Terms and Conditions.</p>

<p>By purchasing a ticket, you agree to be bound by these Terms and Conditions.</p>

<p>These Terms and Conditions relate both to the sale of tickets and attendance at events. These Terms and Conditions apply to both the original purchaser and any subsequent ticketholders (&ldquo;you&rdquo;).</p>

<p>Patna Comedy Carnival may vary these Terms and Conditions at any time by updating them. Any variations will only apply to ticket purchases made after these Terms and Conditions have been updated.</p>

<p>The Venue reserves the right to add, withdraw or substitute artists and/or vary the program, prices and audience capacity of any and all Patna Comedy Carnival events.</p>

<p>Patna Comedy Carnival assumes no responsibility for any error, omission, interruption, deletion, defect, delay in transmission, or line failure of technology experienced in the course of making a purchase to a Patna Comedy Carnival event.</p>

<p>Please Note &ndash; Patna Comedy Carnival is an 16+ Venue. Some performance concepts and language may offend.</p>

<p>Conditions of Entry</p>

<p>1. Every patron must have a valid ticket to be admitted for entry. Patna Comedy Carnival Box Office is the only seller of valid tickets to Patna Comedy Carnival events at the Ravindra bhawan.<br> <br>
2. In the event that duplicate or unauthorised copies of a ticket or tickets appear, the Venue or promoter reserves the right to refuse entry to ALL ticket holders; and/or cancel ALL tickets purchased.<br> <br>
3. Tickets will only be issued upon receipt of full payment. Tickets are a Tax Invoice. The total price displayed on a ticket includes GST if applicable.<br><br>
4. No admittance will be permitted to persons under the age of 18 years of age. ID must be presented upon request.<br><br>
5. Patrons who purchased discount tickets (such as student, pensioner, and concession) will only be admitted upon presentation of corresponding ID on the night of the performance. Failure to produce appropriate ID may result in the patron being charged full price for their ticket.<br>
6. Management has the right to refuse admission to anyone deemed to be intoxicated. Any patron disrupting the show will be asked to leave and no refunds on tickets will be given.<br><br>
7. Latecomers will not be admitted until there is a convenient break in the program, if at all, and admission is at the discretion of the box office personnel on the night of the performance.<br><br>
8. Seating for all Patna Comedy Carnival events is allocated by the Venue based on the size of booking groups and Venue configuration.<br><br>
9. Patrons agree to abide by all social distancing and health protocols; and agree to follow the directions of Venue staff at all times. If patrons do not comply with protocols or authorised requests when on the Venue premises, they may be asked to leave immediately without refund or further recourse.<br><br>
10. Patrons acknowledge that while the Venue has taken all reasonable precautions to keep the audience, staff and performers safe, patrons enter the Venue at their own risk without recourse to claim against the Venue regarding health outcomes.<br><br>
11. The use of cameras or recording equipment is strictly forbidden at all Patna Comedy Carnival events.<br><br>
12. Tickets once booked cannot be exchanged or refunded</p>

<p>13. Must carry your e-ticket in the event</p>

<p>14. An Internet handling fee per ticket may be levied. Please check the total amount before payment</p>

<p>15. We recommend that you arrive at-least 30 minutes prior at the venue for a seamless entry</p>

<p>16. It is mandatory to wear masks at all times and follow social distancing norms</p>

<p>17. Please do not purchase tickets if you feel sick</p>

<p>18. Unlawful resale (or attempted unlawful resale) of a ticket would lead to seizure or cancellation of that ticket without refund or other compensation</p>

<p>19. Any types of food items is not allowed in the premises of auditorium</p>

<p>20. Any time of photography and videography is not allowed during the standup comedy show</p>

<p>21. Keep your phone on silent mode during the event</p>

<p>22. Rights of admission reserved</p>

<p>23. These terms and conditions are subject to change from time to time at the discretion of the organizer</p>
    </div>
</body>
</html>